In [30]:
def alternating(string):
    new_string = ""
    for string_index in range(len(string)):
        if string_index % 2 == 0:
            new_string += string[string_index].upper()
        else:
            new_string += string[string_index].lower()
    print(new_string)
alternating("merhaba benim adım ali can")

MeRhAbA BeNiM AdIm aLi cAn

In [42]:
def alternating_with_enumerate(string):
    new_string = ""
    for index, letter in enumerate(string):
        if index % 2 == 0:
            new_string += letter.upper()
        else:
            new_string += letter.lower()
    return new_string 
alternating_with_enumerate("merhaba benim adım ali can")

'MeRhAbA BeNiM AdIm aLi cAn'

In [32]:
A = []
B = []
students= ["ali", "veli", "ayşe", "fatma"]
def divide_students(students):
    new_list = [A, B]
    for index, student in enumerate(students):
        if index % 2 == 0:
            A.append(student)
        else:
            B.append(student)
    print(new_list)
    return new_list
st = divide_students(students)
st

[['ali', 'ayşe'], ['veli', 'fatma']]

[['ali', 'ayşe'], ['veli', 'fatma']]

In [31]:
#veya
students= ["ali", "veli", "ayşe", "fatma"]
def divide_students2(students):
    new_list = [[], []]
    for index, student in enumerate(students):
        if index % 2 == 0:
            new_list[0].append(student)
        else:
            new_list[1].append(student)
    print(new_list)
    return new_list
divide_students2(students)

[['ali', 'ayşe'], ['veli', 'fatma']]

[['ali', 'ayşe'], ['veli', 'fatma']]

In [1]:
#amaç çift sayıların karesini alarak sözlüğe ekle. Orijinal değer key değeri olacak
#uzun yöntem
numbers = range(10)
new_dict = {}
for i in numbers:
    if i % 2 == 0:
        new_dict[i] = i ** 2
new_dict

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [2]:
#comprehension yöntemi

{i : i ** 2 for i in numbers if i % 2 == 0 }

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [7]:
# bir veri setindeki column isimlerini değiştirmek
import seaborn as sns
df = sns.load_dataset("car_crashes")
print(df.columns)
#uzun yöntem
A = []
for col in df.columns:
    print(col.upper())
    A.append(col.upper())
A

Index(['total', 'speeding', 'alcohol', 'not_distracted', 'no_previous',
       'ins_premium', 'ins_losses', 'abbrev'],
      dtype='object')
TOTAL
SPEEDING
ALCOHOL
NOT_DISTRACTED
NO_PREVIOUS
INS_PREMIUM
INS_LOSSES
ABBREV

['TOTAL',
 'SPEEDING',
 'ALCOHOL',
 'NOT_DISTRACTED',
 'NO_PREVIOUS',
 'INS_PREMIUM',
 'INS_LOSSES',
 'ABBREV']

In [9]:
#comprehension yöntemi 

df.columns = [col.upper() for col in df.columns]
df.columns

Index(['TOTAL', 'SPEEDING', 'ALCOHOL', 'NOT_DISTRACTED', 'NO_PREVIOUS',
       'INS_PREMIUM', 'INS_LOSSES', 'ABBREV'],
      dtype='object')

In [17]:
#isminde INS olanların başına FLAG diğerlerine NO_FLAG ekle

df.columns = ["FLAG_" + col if "INS" in col else "NO_FLAG_" + col for col in df.columns]
df.columns

Index(['NO_FLAG_NO_FLAG_TOTAL', 'NO_FLAG_NO_FLAG_SPEEDING',
       'NO_FLAG_NO_FLAG_ALCOHOL', 'NO_FLAG_NO_FLAG_NOT_DISTRACTED',
       'NO_FLAG_NO_FLAG_NO_PREVIOUS', 'FLAG_FLAG_INS_PREMIUM',
       'FLAG_FLAG_INS_LOSSES', 'NO_FLAG_NO_FLAG_ABBREV'],
      dtype='object')